<mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Date Range Filter</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="dateRange" class="responsive-form">
                <mat-form-field appearance="fill">
                    <mat-label>Filter</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="dateFrom" placeholder="Start date">
                        <input matEndDate formControlName="dateTo" placeholder="End Date">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                &nbsp;
                <mat-checkbox formControlName="logs">Logs</mat-checkbox>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="changeDate()">Apply Filter</button>
    
            </form>
            
        </mat-card-content>
    </mat-card>
    
    <br>
    <mat-card>
    <mat-card-content>


        <mat-accordion multi>
            <ng-container *ngFor="let archive of storedArchives; let i = index">

                <mat-expansion-panel> <!--[expanded]="i < 3"-->
                    <mat-expansion-panel-header [ngClass]="{'auto-size': pageInfo.currentBreakpoint === Breakpoints.Handset}">
                        <mat-panel-title>
                            <mat-icon>archive</mat-icon>
                            <span>&nbsp;Order:
                            <ng-container *ngFor="let table of archive.tables">{{table}} </ng-container>
                            <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br></ng-container>
                            Time and Date: {{datePipe.transform(archive.logs_order.created_order.timestamp, 'HH:mm dd-MM-yyyy')}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>

                    <strong>Guests:</strong> {{archive.guests}}<br>
                    <strong>Capacity:</strong> {{archive.capacity}}<br>
                    <strong>Waiter:</strong> {{archive.logs_order.created_order.actor.name}} {{archive.logs_order.created_order.actor.surname}}
                    <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br></ng-container>
                    <strong>Username:</strong> {{archive.logs_order.created_order.actor.username}}<br>
                    <strong>Final Price:</strong> {{archive.final_price}}&euro;<br>
                    <strong>Charges People:</strong> {{archive.charges_persons}}&euro;<br>
                    <mat-divider></mat-divider>
                    <ng-container *ngFor="let course of archive.courses; let a = index">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong class="course">Course:</strong> {{a + 1}}<br>
                        <ng-container *ngIf="logs">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <ins>Created by:</ins> {{course.logs_course.created_course.actor.username}}
                            <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                            <ins>Created at:</ins> {{datePipe.transform(course.logs_course.created_course.timestamp, 'HH:mm dd-MM-yyyy')}}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ins>Confirmed by:</ins> {{course?.logs_course?.ready_course?.actor?.username!}}
                        <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                        <ins>Confirmed at:</ins> {{datePipe.transform(course?.logs_course?.ready_course?.timestamp!, 'HH:mm dd-MM-yyyy')}}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ins>Served by:</ins> {{course.logs_course.served_course?.actor?.username!}}
                        <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                        <ins>Served at:</ins> {{datePipe.transform(course.logs_course.served_course?.timestamp, 'HH:mm dd-MM-yyyy')}}<br>
                        </ng-container>
                        
                        <ng-container *ngFor="let dish of course.dishes; let b = index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong class="dish">Dish:</strong> {{b + 1}}<br>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong>Name:</strong> {{dish?.recipe_obj?.name!}}<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong>Price:</strong> {{dish?.actual_price!}}&euro;<br>
                            <ng-container *ngIf="logs">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <ins>Started Cooking by:</ins><ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                {{dish?.logs_status?.start_cooking?.actor?.username!}}
                                <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                <ins>Started Cooking at:</ins><ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                {{datePipe.transform(dish?.logs_status?.start_cooking?.timestamp!, 'HH:mm dd-MM-yyyy')}}<br>
                                
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <ins>Finished Cooking by:</ins><ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                {{dish?.logs_status?.finish_cooking?.actor?.username!}} <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                <ins>Finished Cooking at:</ins><ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ng-container>
                                {{datePipe.transform(dish?.logs_status?.finish_cooking?.timestamp!, 'HH:mm dd-MM-yyyy')}}<br>
                            </ng-container>

                            <ng-container *ngFor="let mod of dish?.modifications!; let c = index">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <strong class="modification">Modifications:</strong> {{c+1}}<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <strong>Ingredient:</strong> {{mod?.ingredient_obj?.name!}}<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <strong>Type:</strong> {{mod?.type!}}<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <strong>Price:</strong> {{mod?.price!}}&euro;<br>
                            
                            </ng-container>
                            


                        </ng-container>
                        
                    </ng-container>


                </mat-expansion-panel>
            </ng-container>

        </mat-accordion>
        <mat-paginator
        #paginator
        [length]="paginator.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        ></mat-paginator>



    </mat-card-content>
</mat-card>