<mat-card class="responsive-form">
    <mat-card-header>
        <mat-card-title>
            Order detail of tables:
            <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Web; else nonHandset">
              {{ displayedOrder?.tables }}
            </ng-container>
            <ng-template #nonHandset>
                <br>{{ displayedOrder?.tables }}
            </ng-template>
          </mat-card-title>          
    </mat-card-header>
    <mat-card-content class="flex-container">
        <section class="section-center">
            <mat-divider></mat-divider>
            <b id="sub-title">Detail Order:</b>
            <br>
            <b>Room:</b> {{displayedOrder?.room}}
            <br>
            <b>Table:</b> {{displayedOrder?.tables}}
            <br>
            <b>Guests:</b> {{displayedOrder?.guests}}
            <br>
            <b>Capacity:</b> {{displayedOrder?.capacity}}
            <br>
            <b>Status:</b> {{displayedOrder?.status}}



            <ng-container *ngIf="displayedOrder?.courses?.length != 0">
                <mat-divider></mat-divider>
                <b id="sub-title">Existing Courses:</b>
                <ng-container *ngFor="let tempCour of displayedOrder?.courses!; let i = index">
                    <br>
                    <b style="color:green">Course: {{i+1}}</b> <!--{{tempCour?._id!}} -->
                    <ng-container *ngFor="let tempDish of tempCour?.dishes!">
                        <br>
                        &nbsp;&nbsp;&nbsp;
                    <b>Dish:</b> {{tempDish?.name}} <!-- {{tempDish?.recipe}} --> <b>Price:</b> {{tempDish?.actual_price}}&euro;
                        <ng-container *ngIf="tempDish?.notes != undefined">
                            Notes: {{tempDish?.notes}}
                        </ng-container>
                        <ng-container *ngFor="let modific of tempDish?.modifications!">
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Modification: {{modific?.name}} Type: {{modific?.type}};
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>


            <ng-container *ngIf="this.receivedData?.courses != undefined">
                <mat-divider></mat-divider>
                <b id="sub-title">About to be added Courses:</b>
                <br>
                <ng-container *ngFor="let tempCour of receivedData?.courses; let i = index">
                    <b>Course:</b> Number {{i+1}} <button mat-raised-button color="warn"
                        (click)="deleteCourse(i)">Delete</button>
                    <br>
                    <ng-container *ngFor="let tempDish of tempCour.dishes; let j = index">
                        &nbsp;&nbsp;
                        <b>Dish:</b><em>{{tempDish.name}}</em> {{tempDish.description}} <b>Price:</b>
                        {{tempDish.actual_price}}&euro; <b>Notes:</b> {{tempDish.notes}}
                        <br>

                    </ng-container>
                </ng-container>
            </ng-container><br>
            <button (click)="addCourse()" mat-raised-button color="primary">Add Course</button>
            <br>
            <br>
        </section>

    </mat-card-content>

    <mat-action-row>

        <button mat-raised-button color="primary" (click)="submitOrder()">Submit Order</button>
    </mat-action-row>

</mat-card>

