<app-navigation></app-navigation>

<div class="prod-container">
    <div class="dishes">
        <div class="title">Dishes</div>
        <div class="list">
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
        </div>
    </div>
    <div class="detail">
        <div class="title">Order details</div>
        <div class="content">
            <!-- <i class="fa-thin fa-crate-empty"></i> -->
            <div class="dish-card">
                <app-card shadow="true" color="slate">
                    <div class="title">[Item name]</div>
                    <div class="details">
                        <app-card>
                            <h2>Recipe's ingredients</h2>

                            <div class="list">
                                <div>
                                    <div class="item">
                                    <strong>[Ingredient name]</strong> <span>[Ingredient amount]</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="item">
                                        <strong>[Ingredient name]</strong> <span>[Ingredient amount]</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="item removed">
                                        <strong>[Ingredient name]</strong> <span>[Ingredient amount]</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="item">
                                        <strong>[Ingredient name]</strong> <span>[Ingredient amount]</span>
                                    </div>
                                </div>
                            </div>
                        </app-card>
                        <app-card>
                            <h2>Modifications</h2>

                        </app-card>
                    </div>
                </app-card>
            </div>
        </div>
        <div class="controls">
            <strong disabled danger>Cancel preparation</strong>
            <strong disabled ok>Complete preparation</strong>
        </div>
    </div>



    <!-- <div class="prod-view">
        <div class="list-head">
            <h2>Preparation queue</h2>
        </div>

        <div class="detail-head">
            <h2>Order details</h2>
        </div>

        <div class="dishes">
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
            <order-dish></order-dish>
        </div>
        
        <div class="detail">
            <h2>Ingredients</h2>
    
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
    
            <h2>Modifications</h2>
    
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div>

        <div class="controls">
            <app-button type="danger">Cancel preparation</app-button>
            <app-button type="success">Complete preparation</app-button>
        </div>
    </div> -->
</div>

