<mat-card>
    <mat-card-header>
        <mat-card-title id="title">
            Ready to serve courses
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="courses?.length == 0">
            <div class="container">
                <div class="start">
                    <strong>No courses ready to serve</strong>
                </div>
            </div>
        </ng-container>
        <mat-accordion class="pannel-recipes" multi >
            
            <ng-container *ngFor="let course of courses!; let i = index">
                <mat-expansion-panel class="pannel-recipes" [expanded]="i < 3">
                    <mat-expansion-panel-header [ngClass]="{'auto-size': pageInfo.currentBreakpoint === Breakpoints.Handset}">
                        <mat-panel-title id="title">
                            Course of {{course.tablesNames}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of dishes: {{course.dishes?.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-divider></mat-divider>
                    <strong id="sub-title">Dishes</strong>
                    <ng-container *ngFor="let dish of course.dishes_obj">
                        <div class="container">
                            <div class="start">
                              &nbsp;&nbsp;&nbsp;
                              <strong>Status:</strong> {{dish.status}}  <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br>&nbsp;&nbsp;&nbsp;&nbsp;</ng-container><strong>Dish:</strong> {{dish.name}}
                            </div>
                            <ng-container *ngIf="dish.logs_status?.start_cooking != undefined">
                              <div class="end">
                                <strong style="color:green">Started by:</strong> {{dish.logs_status?.start_cooking?.actor?.username}}
                                <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br></ng-container>
                                <strong style="color:green">At:</strong> {{dish.logs_status?.start_cooking?.timestamp | date: 'HH:mm'}}
                                <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br></ng-container>

                                <ng-container *ngIf="dish.logs_status?.finish_cooking != undefined">
                                    <strong style="color:purple">Ended by:</strong> {{dish.logs_status?.finish_cooking?.actor?.username}}
                                    <ng-container *ngIf="pageInfo.currentBreakpoint === Breakpoints.Handset"><br></ng-container>
                                    <strong style="color:purple">At:</strong> {{dish.logs_status?.finish_cooking?.timestamp | date: 'HH:mm'}}
                                </ng-container>
                                

                              </div>
                            </ng-container>
                            <ng-container *ngIf="dish.notes != undefined">
                                <strong>Notes:</strong> {{dish.notes}}
                                <br>
                            </ng-container>

                        </div>
                    </ng-container>
                    <ng-container *ngIf="course.confirmeButton == true">
                        <mat-action-row style="padding-bottom: 1px; padding-top: 5px;">
                            <button mat-raised-button color="primary" (click)="serveCourse(course.orderId!, course._id!)">Serve Course</button>
                        </mat-action-row>
                    </ng-container>
                </mat-expansion-panel>
            </ng-container>

        </mat-accordion>
    </mat-card-content>
</mat-card>