<div class="dish {{status}}">
    <div class="body">
        <div class="title">
            <span>{{name}}</span>
            <i *ngIf="status === 'completed'" class="fa-solid fa-circle-check"></i>
            <i *ngIf="status === 'cancelled'" class="fa-solid fa-circle-exclamation"></i>
            <i *ngIf="status === 'waiting'"   class="fa-duotone fa-spinner-third"></i>
            <i *ngIf="status === 'ready'" class="fa-solid fa-circle-info"></i>
        </div>
        <div class="mods" *ngIf="mods.length > 0">
            <div class="mod" *ngFor="let mod of mods">
                <span *ngIf="mod.type == 'with'"><i class="fa-solid fa-plus"></i>&nbsp;{{mod.name}}</span>
                 
                <span *ngIf="mod.type == 'without'"><i class="fa-solid fa-minus"></i>&nbsp;{{mod.name}}</span>

                <span *ngIf="mod.type == 'less'"><i class="fa-solid fa-down-right"></i>&nbsp;{{mod.name}}</span>

                <span *ngIf="mod.type == 'more'"><i class="fa-solid fa-up-right"></i>&nbsp;{{mod.name}}</span>
            </div>
            <!-- <div class="mod"><i class="bi bi-plus-circle-fill"></i>&nbsp;Limone</div>
            <div class="mod"><i class="bi bi-dash-circle-fill"></i>&nbsp;Cozze</div>
            <div class="mod"><i class="bi bi-arrow-down-right-circle-fill"></i>&nbsp;Vongole</div>
            <div class="mod"><i class="bi bi-arrow-up-right-circle-fill"></i>&nbsp;Gamberoni</div> -->
        </div>
    </div>
    <div class="footer">
        <span class="time"><i class="fa-solid fa-timer"></i>&nbsp;10:00</span>
        <span class="price">${{price}}</span>
    </div>
</div>
