<div class="container {{color}}">
    <app-navigation>
        <div class="submenu-selector {{color}}" (click)="toggle_choices()"><span>Coffee and drinks</span>&nbsp;<i class="bi bi-chevron-down"></i></div>
    </app-navigation>

    <app-menu-view></app-menu-view>
    
    <div class="bottom" routerLink="../">
        <span>View order</span>
        <i class="bi bi-chevron-up"></i>
    </div>
</div>

<div class="submenu-choices {{choices_visible ? '' : 'hidden'}}" (click)="toggle_choices(false)">
    <div (click)="select_submenu($event, 'First', 'green')"     class="green choice">First</div>
    <div (click)="select_submenu($event, 'Second', 'teal')" class="teal choice">Second</div>
    <div (click)="select_submenu($event, 'Pizzas', 'rose')"  class="rose choice">Pizzas</div>
    <div (click)="select_submenu($event, 'Grill', 'brown')"   class="brown choice">Grill</div>
    <div (click)="select_submenu($event, 'Coffee and drinks', 'fuchsia')"   class="fuchsia choice selected">Coffee and drinks</div>
</div>