
<div class="modal {{hidden ? 'hidden':''}} {{wrong ? 'shake':''}}">
    <div class="blur {{hidden?'hidden':''}}" (click)="hide()"></div>
    <div class="modal-body {{type}}">
        <div class="title {{type}}">
            {{ title }}
            <i class="bi bi-x hamburger" (click)="hide()"></i>
        </div>

        <div class="view {{type}}">
            {{ message }}
            <div *ngIf="!message">
                <ng-content></ng-content>
            </div>
        </div>

        <div class="controls {{type}}">
            <div class="option {{option.type}}" 
            *ngFor="let option of options; let i = index"
            (click)="handleClick(i)">
                {{option.text}}
            </div>
        </div>
    </div>
</div>
