<!-- user-form.component.html -->

<app-dynamic-form [model] = 'modelInput'></app-dynamic-form>

    <div class="content-border"></div>

    <mat-card class="card">
        <mat-accordion class="example-headers-align" multi>

            <mat-expansion-panel *ngFor="let user of userFormArray">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>person</mat-icon>
                        {{ user[0].username }}
                    </mat-panel-title>
                    <mat-panel-description>
                        <span>Name: {{ user[0].name }}&nbsp;&nbsp;
                            Surname: {{ user[0].surname }}</span>
                            <mat-icon>edit</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="user[1]">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" value="Name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="surname" value="Surname">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" value="Phone">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" value="Password">
                    </mat-form-field>
                    <br>
                    <section class="section-center">
                        <mat-checkbox-group formGroupName="role">
                            <mat-checkbox *ngFor="let role of rolesList" [formControlName]="role">{{ role
                                }}</mat-checkbox>
                        </mat-checkbox-group>
                    </section>
                    <br>
                    
                    <mat-action-row>
                        <button mat-raised-button color="primary" (click)="onChangeUser(user[0].username)">Submit</button>
                        <button mat-raised-button color="warn" (click)="onDeleteUser(user[0].username)">Delete</button>
                    </mat-action-row>
                </form>

            </mat-expansion-panel>



        </mat-accordion>
    </mat-card>
    <br>

<app-dynamic-table></app-dynamic-table>
