<mat-card>
    <mat-card-header>
        <mat-card-title>
            Adding a new Dish to the course:
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group>
            <ng-container *ngFor="let cat of categoryReference">
                <mat-tab label="{{cat.name}}">
                    <mat-divider></mat-divider>
                    <!--content inside here-->
                    <br>

                    <mat-accordion class="pannel-recipes">
                        <ng-container *ngFor="let rec of displayedRecipe">
                            <ng-container *ngIf="rec.category == cat._id">
                                <mat-expansion-panel class="pannel-recipes">
                                    <mat-expansion-panel-header [ngClass]="{'auto-size': pageInfo.currentBreakpoint === Breakpoints.Handset}">
                                        <mat-panel-title>
                                            {{rec.name}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{rec.base_price}}&euro;
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <mat-divider></mat-divider>
                                    <strong id="sub-title">Recipe Details</strong>
                                    <div>
                                        <strong>Item:</strong> {{rec.name}} 
                                        <br>
                                        <strong>Description:</strong> {{rec.description}}
                                        <br>
                                        <strong>Price:</strong> {{rec.base_price}}&euro;
                                        <br>
                                        <strong>Ingredients:</strong> {{rec.ingredients}}
                                    </div>
                                    <mat-action-row>
                                        <button mat-raised-button color="primary" (click)="addCourse(rec)">Add</button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </ng-container>

                        </ng-container>

                    </mat-accordion>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<br>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Dishes added to course:
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion class="pannel-recipes">
            <ng-container *ngFor="let dish of tempDishes, let i = index">
                <mat-expansion-panel class="pannel-recipes">
                    <mat-expansion-panel-header [ngClass]="{'auto-size': pageInfo.currentBreakpoint === Breakpoints.Handset}">
                        <mat-panel-title>
                            {{dish.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{dish.actual_price}}&euro;
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <strong id="sub-title">Receipe Details</strong><br>
                    <strong>Item:</strong> {{dish.name}} 
                    <br>
                    <strong>Description:</strong> {{dish.description}}
                    <br>
                    <strong>Price:</strong> {{dish.actual_price}}&euro;
                    <br>
                    <strong>Ingredients:</strong> {{dish.ingredients}}
                    <br>
                    <mat-divider></mat-divider>
                    <strong id="sub-title">Notes:</strong> {{dish.notes}}
                    <!--notes-->
                    <br>
                    <form [formGroup]="dish?.formNotes!" (ngSubmit)="onAddNote(i)" class="form-inline">
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>Notes</mat-label>
                            <textarea matInput formControlName="notes" placeholder="Notes"
                                class="full-width"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" class="ml-2">Add Note</button>
                    </form>
                    <br>

                    <mat-divider></mat-divider>
                    <strong id="sub-title">Modifications:</strong>
                    <ng-container *ngFor="let mod of dish.modifications, let indMod = index">
                        <div class="mod-container">
                            <div class="mod-details">
                                <b>Ingredient:</b> {{mod.name}} <br>
                                <b>Type:</b> {{mod.type}} <br>
                                <b>Price:</b> {{mod.price_modification}}&euro;
                            </div>
                            <div class="mod-button">
                                <button mat-raised-button color="warn" (click)="removeIngredient(i, indMod)">Remove</button>
                            </div>
                        </div>
                        <!-- Add a horizontal line or any other separator between modifications -->
                        <hr style="margin: 10px 0; border: 1px solid #ddd;">
                    </ng-container>
                    <br>

                    <br>

                    <form [formGroup]="dish?.formIngredients!" (ngSubmit)="onAddIngredient(i)">
                        <mat-form-field>
                            <mat-label>Ingredient</mat-label>
                            <mat-select placeholder="ingredients" formControlName="ingredients" class="full-width">
                                <mat-option *ngFor="let ing of ingredientReference" [value]="ing._id">
                                    {{ing.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select placeholder="type" formControlName="type" class="full-width">
                                <mat-option *ngFor="let type of modificationsArray" [value]="type">
                                    {{type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" class="ml-2">Add Ingredient</button>
                    </form>

                    <br>

                    <mat-action-row>
                        <button mat-raised-button color="warn" (click)="removeCourse(i)">Delete</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </mat-card-content>

    <ng-container *ngIf="tempDishes.length !== 0">
        <mat-card-actions >
            <button mat-raised-button color="accent" (click)="sendData()">Send</button>
        </mat-card-actions>

    </ng-container>
</mat-card>