<div class="container">
    <form class="inner" (submit)="login()">
        <div class="row">
            <h1>Login to your account</h1>
        </div>

        <div class="row error" *ngIf="errorMessage">
            <i class="fa fa-exclamation-triangle"></i>
            <span>{{ errorMessage }}</span>
        </div>

        <div class="row">
            <app-input label="Username" (valueChange)="updateUsername($event)" type="text" placeholder="username"></app-input>
        </div>
        <div class="row">
            <app-input label="Password" (valueChange)="updatePassword($event)" type="password" placeholder="*******"></app-input>
        </div>
        <div class="row inline">
            <label for="Remember">Remember me</label>
            <checkbox id="remember"></checkbox>
        </div>

        <div class="row buttons">
            <app-button (leftClick)="login()" type="">Login</app-button>
        </div>
    </form>
</div>