/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}

.ngx-toastr {
    width: auto;
  
    @media (max-width: 768px) {
      width: 150px !important;
    }
  }



