.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.error-content {
  padding: 20px;
  text-align: center;
}

.error-code {
  color: #ff4040; /* Adjust the color as needed */
  font-size: 2em;
}

.error-message img {
  max-width: 100%;
  height: auto;
}

.back-to-home {
  margin-top: 20px;
}

.back-to-home a {
  text-decoration: none;
  font-weight: bold;
  color: #428bca;
}
