<nav class="nav">
    <i class="hamburger far fa-bars" (click)="open()"></i>
    <div class="title">
        <ng-content></ng-content>
    </div>
    <i class="user far fa-user"></i>
</nav>

<div class="menu {{opened?'':'hidden'}}">
    <div class="blur" (click)="close()"></div>
    <div class="drawer">
        <i class="close far fa-times" (click)="close()"></i>
        <div class="links">
            <a class="">
                <i class="icon far fa-table-picnic"></i>
                Tables
            </a>

            <a>
                <i class="icon far fa-plate-utensils"></i>
                Menu
            </a>



            <a class="logout">
                <i class="icon far fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
    </div>
</div>
