<div class="table {{status}}" title="{{status}}" (click)="handleLeftClick($event)" (contextmenu)="handleRightClick($event)">
    <div class="chairs">
        <div class="top"></div>
        <div class="btm"></div>
        <div class="lft"></div>
        <div class="rgt"></div>
    </div>

    <svg viewBox="0 0 45 45" class="number">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">{{id}}</text>
    </svg>
</div>

<app-modal *ngIf="is_modal_visible" [ngSwitch]="status">
    <div *ngSwitchCase="''"> <!-- Free table case -->
        <app-input label="Number of guests" type="number" name="guests" placeholder="Number of guests" (blur)="updateGuests($event)" />
    </div>

    <div *ngSwitchCase="'occupied'"> <!-- Occupied table case -->
        This table is currently occupied. The guests are awaiting to order or to pay their bill.
    </div>

    <div *ngSwitchCase="'reserved'"> <!-- Reserved table case -->
        There is a reservation for this table

        <div class="notice">
            Reservation time: {{reservation_time}} <br>
            Reservation name: {{reservation_name}}
        </div>

        <span *ngIf="is_left_click">
            Insert the number of guests that will be seated at this table.
            <app-input color="" type="number" name="guests" placeholder="Number of guests" (blur)="updateGuests($event)" />
        </span>
    </div>

    <div *ngSwitchCase="'waiting'"> <!-- Ordered table case -->
        The guests of this table are awaiting for a course/meal to be served. 
        <div class="notice">Until the course/meal is served or cancelled, the table cannot be closed.</div>
    </div>

    <div *ngSwitchCase="'ordering'"> <!-- Served table case -->
        Someone is currently modifying the order of this table. You cannot edit the order or close the table until the lock is released.
    </div>

    <div *ngSwitchCase="'closing'">
        The order is currently closed. Guests are about to pay the bill. <span *ngIf="!is_left_click">Do you need to apply modifications to the order?</span>
    </div>

    <div *ngSwitchCase="'locked'"> <!-- Served table case -->
        The table is currently locked. You cannot manage this table until the lock is released.
    </div>
</app-modal>